@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

.math mjx-container,
.math svg,
.math svg g,
.math path,
.math use {
    stroke: currentColor !important;
    stroke-width: 36px !important;
}

.math-inline svg {
    @apply inline;
}

.math-display svg {
    @apply mx-auto;
}

.math-display {
    @apply overflow-auto;
}

@font-face {
    font-family: 'SF_Cartoonist_Hand';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/SF_Cartoonist_Hand/SF_Cartoonist_Hand_Bold_Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'SF_Cartoonist_Hand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/SF_Cartoonist_Hand/SF_Cartoonist_Hand_Bold.ttf') format('truetype');
}

.problem-block {
    .problem-heading {
        font-weight: 700;
        text-shadow:
            0.8px 0 currentColor,
            -0.8px 0 currentColor,
            0 0.45px currentColor;
    }

    strong {
        @apply font-bold text-inherit;
        text-shadow:
            0.65px 0 currentColor,
            -0.65px 0 currentColor;

        .math mjx-container,
        .math svg,
        .math svg g,
        .math path,
        .math use {
            stroke-width: 64px !important;
        }
    }
}

.part-block {
    h2 {
        @apply my-0;
    }

    p {
        @apply my-0;
    }
}
